# Visual Studio Cache and User Files
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# Build Results (Where the merge conflicts happen)
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

# NuGet Packages
*.nupkg
packages/

# Local Databases (So you don't overwrite each other's test data)
*.mdf
*.ldf
*.ndf
*.db